*{
    
    color: black;
}
body{
    background-color:#1d2f41;
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#ffffff ;
    color:#f8f9fa ;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
}

                .general{
                    background-color: rgb(255, 255, 255);
                    display: grid;  
                    grid-template-columns: repeat(3, 1fr);
                    gap: 50px;
                    padding: 20px;
                }

                .lenguaje{
                    background-image: url(/webroot/media/img/lenguaje.png);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .lenguaje image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .programacion{
                    background-image: url(/webroot/media/img/programacion1.jpg);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .programacion image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .bases{
                    background-image: url(/webroot/media/img/bases.jpg);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .bases image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .entornos{
                    background-image: url(/webroot/media/img/entornos.jpg);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .entornos image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .optativa{
                    background-image: url(/webroot/media/img/entornos.jpg);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .optativa image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .ingles{
                    background-image: url(/webroot/media/img/ingles.jpg);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .ingles image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .sistemas{
                    background-image: url(/webroot/media/img/sistemas.jpg);
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    color: white;
                    text-align: center;
                }
                
                .sistemas image{ 
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

footer{
    padding: 5%;
    border-top: solid;
    border-top-color: #5cb0ff;
    background-color: rgb(26, 25, 25);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 1px;

}
time{
    color: white;
}
#casita{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
i{
    
    background-color: white;
}

